version: "3.9"

services:
  db:
    image: postgres:15
    container_name: subscription_db
    restart: always
    environment:
      POSTGRES_DB: subscription_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    container_name: subscription_api
    restart: always
    depends_on:
      - db
    ports:
      - "5000:5000"
    environment:
      FLASK_APP: "app:create_app"
      FLASK_ENV: development
      DATABASE_URL: postgresql://postgres:postgres@db:5432/subscription_db
    volumes:
      - .:/app

volumes:
  postgres_data:
